<div class="menu" id="menu">
  <div class="menu-item" id="circle" draggable="true">
    <div class="menu-item-inside circle"></div>
  </div>
  <div class="menu-item" id="polygon" draggable="true">
    <div class="menu-item-inside polygon"></div>
  </div>
  <div class="menu-item" id="rect" draggable="true">
    <div class="menu-item-inside rect"></div>
  </div>
  <div class=" menu-item">
    <a
      class="btn btn-clear"
      title="Download JSON"
      [href]="downloadJsonHref"
      download="download.json"
      ><img src="../assets/download.png" width="17px"
    /></a>
  </div>
  <div class=" menu-item">
    <input
      #file
      type="file"
      (change)="fileChangeEvent($event)"
      placeholder="Upload file..."
      style="display: none"
    />
    <img (click)="file.click()" src="../assets/import.png" width="17px" />
  </div>
</div>
<div
  class="info"
  id="info"
  style="position: absolute;"
  [ngStyle]="{
    top: menuOptions.y,
    left: menuOptions.x,
    display: menuOptions.hide ? 'none' : ''
  }"
  [hidden]="menuOptions.hide"
>
  <div id="circle-info" class="info-item">
    <div class="info-item-inside circle"></div>
  </div>
  <div id="polygon-info" class="info-item">
    <div class="info-item-inside polygon"></div>
  </div>
  <div id="rect-info" class="info-item">
    <div class="info-item-inside rect"></div>
  </div>
  <div id="close" class="close info-item">
    <div class="info-item-inside"></div>
  </div>
</div>
<div id="graph">
  <span
    *ngFor="let item of data; let i = index"
    style="position: absolute;"
    [ngStyle]="{
      top: item.y + 'px',
      left: item.x - 4 + 'px'
    }"
    (dblclick)="doubleClick(item, i)"
    >{{ item.text || "text" }}</span
  >
  <input
    *ngIf="edit"
    style="position: absolute;"
    [(ngModel)]="editText"
    (keyup.enter)="enterEdit()"
    [ngStyle]="{
      top: edit.y + 'px',
      left: edit.x - 4 + 'px'
    }"
  />
</div>

