<!-- <svg width="960" height="500"></svg> -->

<div class="menu" id="menu">
  <div class="menu-item" id="circle" draggable="true">
    <div class="menu-item-inside circle"></div>
  </div>
  <div class="menu-item" id="polygon" draggable="true">
    <div class="menu-item-inside polygon"></div>
  </div>
  <div class="menu-item" id="rect" draggable="true">
    <div class="menu-item-inside rect"></div>
  </div>
  <div class=" menu-item">
    <a
      class="btn btn-clear"
      title="Download JSON"
      [href]="downloadJsonHref"
      download="download.json"
      >ss</a
    >
  </div>
  <div class=" menu-item">
    <input
      type="file"
      (change)="fileChangeEvent($event)"
      placeholder="Upload file..."
    />
  </div>
</div>
<div
  class="info"
  id="info"
  style="position: absolute;"
  [ngStyle]="{
    top: menuOptions.y,
    left: menuOptions.x,
    display: menuOptions.hide ? 'none' : ''
  }"
  [hidden]="menuOptions.hide"
>
  <div id="circle-info" class="info-item">
    <div class="info-item-inside circle"></div>
  </div>
  <div id="polygon-info" class="info-item">
    <div class="info-item-inside polygon"></div>
  </div>
  <div id="rect-info" class="info-item">
    <div class="info-item-inside rect"></div>
  </div>
  <div id="close" class="close info-item">
    <div class="info-item-inside"></div>
  </div>
</div>
<div id="graph">
  <span
    *ngFor="let item of data; let i = index"
    style="position: absolute;"
    [ngStyle]="{
      top: item.y  + 'px',
      left: item.x - 4 + 'px'
    }"
    (dblclick)="doubleClick(item, i)"
    >{{item.text || 'text'}}</span
  >
  <input  *ngIf="edit"  style="position: absolute;"
  [(ngModel)]="editText"
  (keyup.enter)="enterEdit()"
  [ngStyle]="{
    top: edit.y  + 'px',
    left: edit.x - 4 + 'px'
  }">
</div>

<!-- 
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
<g><marker id="arrowhead0" viewBox="0 0 60 60" refX="44" refY="34" markerUnits="strokeWidth" markerWidth="8" markerHeight="10" orient="auto">
            <path d="M 0 0 L 60 30 L 0 60 z" fill="#800000" /> </marker>
<line marker-end="url(#arrowhead0)" x1="1" y1="1" x2="100" y2="100" stroke="#800000" />
<rect x="1" y="1" width="100" height="100" stroke="green" fill="none"/>
</g></svg> -->
