<!-- <svg width="960" height="500"></svg> -->

<div id="menu">
  <div id="circle" draggable="true"></div>
  <div id="polygon" draggable="true"></div>
  <div id="rect" draggable="true"></div>
</div>
<div id="info">
  <div id="circle-info"></div>
  <div id="polygon-info"></div>
  <div id="rect-info"></div>
  <div class="close"></div>
</div>
<div id="graph"></div>

<!-- 
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
<g><marker id="arrowhead0" viewBox="0 0 60 60" refX="44" refY="34" markerUnits="strokeWidth" markerWidth="8" markerHeight="10" orient="auto">
            <path d="M 0 0 L 60 30 L 0 60 z" fill="#800000" /> </marker>
<line marker-end="url(#arrowhead0)" x1="1" y1="1" x2="100" y2="100" stroke="#800000" />
<rect x="1" y="1" width="100" height="100" stroke="green" fill="none"/>
</g></svg> -->