/* You can add global styles to this file, and also import other style files */
.active {
  stroke: #000;
  stroke-width: 2px;
}
.circle-style {
  stroke: black;
  stroke-width: 2px;
  fill: white;
}
.polygon-style {
  stroke: black;
  stroke-width: 2px;
  fill: white;
  marker-end: url(#arrowhead0);
}
.rect-style {
  stroke: black;
  stroke-width: 2px;
  fill: white;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before,
.close:after {
  position: absolute;
  left: 10px;
  content: " ";
  height: 20px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.menu {
  position: fixed;
  left: 35px;
  border: 1px solid #d0d0d0;
  top: 35px;
  background: #fafafa;
  width: 100px;
  display: flex;
  flex-wrap: wrap;
}
.menu .menu-item {
  margin: 10px;
  width: 30px;
  min-width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .menu-item > .menu-item-inside {
  border: 1px solid rgb(97, 97, 97);
  cursor: grab;
  box-sizing: border-box;
}
.menu .menu-item > .menu-item-inside:active {
  cursor: grabbing;
}
.menu .menu-item > .circle {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}
.menu .menu-item > .polygon {
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
}
.menu .menu-item > .rect {
  width: 100%;
  height: 20px;
  border-radius: 5px;
}

.info {
  background: #ffffff;
  width: 90px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 2px 2px 5px #00000080;
}
.info .info-item {
  margin: 5px;
  width: 20px;
  min-width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.info .info-item .info-item-inside {
  border: 1px solid rgb(97, 97, 97);
  cursor: grab;
  box-sizing: border-box;
}
.info .info-item .info-item-inside.circle {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}
.info .info-item .info-item-inside.polygon {
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}
.info .info-item .info-item-inside.rect {
  width: 100%;
  height: 15px;
  border-radius: 5px;
}
.info .info-item .info-item-inside:active {
  cursor: grabbing;
}
